*.jks
*.key
*.mobileprovision
*.p8
*.p12
.DS_Store
.expo
.npmignore
.vscode
android/.build
android/.gradle
android/app/build
build/
coverage/
HelloWorld.xcworkspace
ios/Pods
npm-debug.log*
package-lock.json
Podfile.lock
web-build/
yarn-debug.log*
yarn-error.log
yarn.lock
